In [1]:
import numpy as np
import pandas as pd
from helper import *

In [2]:
# Import the data
EWA_data = []
WS_data = []
WP_data = []

num_files = 8
for i in range(num_files):
    EWA_data.append(pd.read_csv("ESPNData/ESPNPlayerStats_201{}.csv".format(i)))
    WS_data.append(pd.read_csv("BRData/AdvancedPlayerStats_201{}.csv".format(i)))
    WP_data.append(pd.read_csv("BGData/BGData_201{}".format(i)))

In [3]:
# GET EWA DATA
refined_data = []
for i in range(len(EWA_data)):
    year = "201{}".format(i)

    data = EWA_data[i]
    drop_indexs = data[data["Field"]==data.iloc[0][0]].index
    data.drop(drop_indexs, inplace=True)
    # Reset column names
    data.rename(columns=data.iloc[0], inplace=True)
    data.drop(data.index[0], inplace=True)
    # Drop other column name rows
    drop_indexs = data[data["RK"]=="RK"].index
    data.drop(drop_indexs, inplace=True)
    # Reset index
    data.reset_index(drop=True, inplace=True)

    # Process the playernames and teamnames 
    teamnames = [s.split(",")[-1][1:] for s in data["PLAYER"]]
    playernames = [s.split(",")[0] for s in data["PLAYER"]]
    playernames = formatNames(playernames)

    # Make a new dataframe to store relevant data
    new_data = pd.DataFrame({"player":playernames, 
                             "team":teamnames, 
                             "year":year,
                             "EWA":data["EWA"]})
    refined_data.append(new_data)

In [4]:
# ADD WS DATA TO refined_data
for i in range(len(WS_data)):
    
    data = WS_data[i]
    refined_data_temp = refined_data[i]
    refined_data_temp["WS"] = np.nan
    
    for j in range(len(data)):
        playername = formatNames([data["Player"][j]])[0]
        player_WS = data["WS"][j]
        
        # Find the index of this player in the old dataset -> not finding some, may be issue later...
        player_id = refined_data_temp.index[refined_data_temp["player"]==playername].tolist()
        if len(player_id) !=0:
            refined_data_temp.at[player_id[0], "WS"] = player_WS
#         else:
#             print(i, playername)

0 djmbenga
1 eddycurry
1 jeromejordan
2 joshakognon
2 eddycurry
2 viacheslavkravtsov
3 gigidatome
3 vitorluizfaverani
3 robbiehummel
3 viacheslavkravtsov
3 erikmurphy
4 gigidatome
4 gigidatome
4 gigidatome
4 robbiehummel
4 jeromejordan
5 marcelohuertas
6 wadebaldwin
6 marcelohuertas
6 pierrejackson
7 wadebaldwin
7 vincehunter
7 wesleyiwundu

In [7]:
# Do it with WP now
for i in range(len(WP_data)):
    refined_data_temp = refined_data[i]
    data = WP_data[i]
    
    for j in range(len(data)):
        playername = formatName([data["NAME"][j]])
        if playername == np.nan:
            continue
        player_WP = data["WP"][j]
        
        # Find the index of this player in the old dataset -> not finding some, may be issue later...
        player_id = refined_data_temp.index[refined_data_temp["player"]==playername].tolist()
        if len(player_id) !=0:
            refined_data_temp.at[player_id[0], "WS"] = player_WP
#         else:
#             print(i, playername)

,Unnamed: 0,NAME,TM,POS,G,M,AJP48,WP48,WP,POP48,PTS,REB,AST
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Zydrunas Ilgauskas,MIA,5.0,72.0,1145.0,0.255,0.075,1.8,-0.7,15.1,12.0,1.1
2,2,Zaza Pachulia,ATL,5.0,79.0,1243.0,0.288,0.108,2.8,0.3,13.5,12.9,2.2
3,3,Zach Randolph,MEM,4.3,75.0,2723.0,0.381,0.202,11.5,3.2,26.5,16.1,2.9
4,4,Zabian Dowdell,PHO,1.0,24.0,292.0,-0.008,-0.096,-0.6,-6.1,19.9,3.3,8.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,452,Acie Law,"GSW, MEM",1.0,51.0,726.0,0.102,0.014,0.2,-2.6,14.2,4.2,5.6
453,453,Aaron Gray,NOR,5.0,41.0,520.0,0.310,0.130,1.4,1.0,11.9,15.8,1.5
454,454,Aaron Brooks,"HOU, PHO",1.0,59.0,1284.0,0.006,-0.082,-2.2,-5.6,23.7,2.9,8.7
455,455,A.J. Price,IND,1.0,50.0,795.0,0.050,-0.038,-0.6,-4.3,19.5,4.3,6.7
456,456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN